<header>
    <div class="container header-container">
        <nav class="page-nav">
            <a href="" class="logo-nav">
                <img src="./img/header-images/logo.svg" alt="logo" class="logo-img" width="44" height="39">
            </a>
            <ul class="nav-list">
                <li class="nav-item"><a href="#about-us" class="nav-link link">About us</a></li>
                <li class="nav-item"><a href="#our-collection" class="nav-link link">Our collection</a></li>
                <li class="nav-item"><a href="#customer-order" class="nav-link link">CUSTOMER ORDER</a></li>
                <li class="nav-item"><a href="#testimonials" class="nav-link link">TEstimonials</a></li>
            </ul>
        </nav>
        <div class="menu-buttons-right">
            <address class="contacts"><a href="tel:+380684439426" class="contacts-link">+380 (68) 443-94-26</a>
            </address>
            <ul class="header-social">
                <li class="sotial-list-item">
                    <a href="https://www.facebook.com/goITclub/" target="_blank" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/header-images/header.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-list-item">
                    <a href="https://www.instagram.com/goitclub/" target="_blank" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/header-images/header.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-list-item">
                    <a href="https://www.youtube.com/c/GoIT" target="_blank" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="./img/header-images/header.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="menu-button" data-menu-open>
                <svg class="menu-button-icon" width="36" height="24" aria-label="open mobile menu">
                    <use href="./img/header-images/header.svg#icon-burger-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</header>

<!-- Mobile Menu -->

<div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
        <div class="tel-and-close-btn">
            <address class="contacts-menu"><a href="tel:+380684439426" class="contacts-mobile-link">+380 (68)
                    443-94-26</a></address>
            <button class="close-mobile-menu-btn" data-menu-close>
                <svg class="menu-button-icon-close" aria-label="close mobile menu">
                    <use href="./img/header-images/header.svg#icon-x"></use>
                </svg>
            </button>
        </div>
        <ul class="mobile-nav-list">
            <li class="mobile-nav-item"><a href="" class="mobile-nav-link link">About us</a></li>
            <li class="mobile-nav-item"><a href="" class="mobile-nav-link link">Our collection</a></li>
            <li class="mobile-nav-item"><a href="" class="mobile-nav-link link">CUSTOMER ORDER</a></li>
            <li class="mobile-nav-item"><a href="" class="mobile-nav-link link">TEstimonials</a></li>
        </ul>
        <div class="img-container"></div>
    </div>
</div>
<script src="mobile-menu.js"></script>