<header>
    <div class="container header-container">
        <nav>
            <a href="">
                <svg class="logo" width="44" height="39">
                    <use href="src\img\logo.svg#url(#a)"></use>
                </svg>
            </a>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
        <address><a href=""></a></address>
        <ul>
            <li>
                <a href="">
                    <svg>
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg>
                        <use></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg>
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button>
            <svg>
                <use></use>
            </svg>
        </button>
    </div>
</header>