<header>
    <div class="container header-container">
        <nav class="page-nav">
            <a href="" class="logo-nav">
                <img src="..src/img/header-images/logo.png" alt="logo" class="logo-img" width="44" height="39">
            </a>
            <ul class="nav-list">
                <li class="nac-item"><a href="" class="nav-link link">About us</a></li>
                <li class="nac-item"><a href="" class="nav-link link">Our collection</a></li>
                <li class="nac-item"><a href="" class="nav-link link">CUSTOMER ORDER</a></li>
                <li class="nac-item"><a href="" class="nav-link link">TEstimonials</a></li>
            </ul>
        </nav>  
        <div class="menu-buttons-right">
            <address class="contacts"><a href="tel:+380684439426" class="contacts-link">+380 (68) 443-94-26</a></address>
            <ul class="header-social">
                <li class="sotial-list-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="../img/header-images/header.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-list-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="../img/header-images/header.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-list-item">
                    <a href="" class="social-link">
                        <svg class="social-icon" width="44" height="44">
                            <use href="../img/header-images/header.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="menu-button">
                <svg class="menu-button-icon" width="36" height="24" aria-label="open mobile menu">
                    <use href="../img/header-images/header.svg#icon-burger-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</header>