    <main>
            <section class="section-hero">
                <div class="container">
                    <img src="../img/hero/girl.jpg" 
                         alt="girl"
                         width="392"
                         height="545"
                         />
                    <h1 class="titlel">Reviving the traditional<span class="titlell"> Ukrainian</span> in every stitch.</h1>
                    <p class="hero-text">all embroidery is made by hand</p>
                    <button type="button">Order</button>  
                </div>
            </section>
        </main>
    