<section class="our-collection-box" id="our-collection">
    <div class="container">
        <h2 class="our-collection-title">Our collection</h2>
        
        <ul class="our-collection-paragraph">
       
            <li class="our-collection-photo">
                
                <img 
                srcset="./img/OurCollection/AUGUST-wide-desktop.jpg 400w,
                ./img/OurCollection/AUGUST-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/AUGUST-desktop.jpg 347w,
                ./img/OurCollection/AUGUST-desktop@2x.jpg 694w,
                ./img/OurCollection/AUGUST-tablet.jpg 342w,
                ./img/OurCollection/AUGUST-tablet@2x.jpg 684w,
                ./img/OurCollection/AUGUST-mobile.jpg 335w,
                ./img/OurCollection/AUGUST-mobile@2x.jpg 670w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="./img/OurCollection/AUGUST-mobile.jpg"
                alt="August" />
          
            <div class="our-collection-text">
                <h3 class="our-collection-product">AUGUST Poltava women's blouseRING</h3>
                <p class="our-collection-price">3300 UAH</p>  
            </div>       

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/OurCollection/Gorgany-wide-desktop.jpg 400w,
                ./img/OurCollection/Gorgany-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/Gorgany-desktop.jpg 347w,
                ./img/OurCollection/Gorgany-desktop@2x.jpg 694w,
                ./img/OurCollection/Gorgany-tablet.jpg 342w,
                ./img/OurCollection/Gorgany-tablet@2x.jpg 684w,
                ./img/OurCollection/Gorgany-mobile.jpg 335w,
                ./img/OurCollection/Gorgany-mobile@2x.jpg 670w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="../img/OurCollection/Gorgany-mobile.jpg"
                alt="Gorgany" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Women's blouse Gorgany</h3>
                <p class="our-collection-price">3350 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/OurCollection/Mountain-wide-desktop.jpg 400w,
                ./img/OurCollection/Mountain-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/Mountain-desktop.jpg 347w,
                ./img/OurCollection/Mountain-desktop@2x.jpg 694w,
                ./img/OurCollection/Mountain-tablet.jpg 342w,
                ./img/OurCollection/Mountain-tablet@2x.jpg 684w,
                ./img/OurCollection/Mountain-mobile.jpg 335w,
                ./img/OurCollection/Mountain-mobile@2x.jpg 670w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="./img/OurCollection/Mountain-mobile.jpg"
                alt="Mountain" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Mountain men's shirt</h3>
                <p class="our-collection-price">3300 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/OurCollection/Yasen-wide-desktop.jpg 400w,
                ./img/OurCollection/Yasen-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/Yasen-desktop.jpg 347w,
                ./img/OurCollection/Yasen-desktop@2x.jpg 694w,
                ./img/OurCollection/Yasen-tablet.jpg 342w,
                ./img/OurCollection/Yasen-tablet@2x.jpg 684w,
                ./img/OurCollection/Yasen-mobile.jpg 335w,
                ./img/OurCollection/Yasen-mobile@2x.jpg 670w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="./img/OurCollection/Yasen-mobile.jpg"
                alt="Yasen" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Men's shirt Yasen</h3>
                <p class="our-collection-price">1700 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/OurCollection/Crimea-wide-desktop.jpg 400w,
                ./img/OurCollection/Crimea-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/Crimea-desktop.jpg 347w,
                ./img/OurCollection/Crimea-desktop@2x.jpg 694w,
                ./img/OurCollection/Crimea-tablet.jpg 342w,
                ./img/OurCollection/Crimea-tablet@2x.jpg 684w,
                ./img/OurCollection/Crimea-mobile.jpg 335w,
                ./img/OurCollection/Crimea-mobile@2x.jpg 370w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="./img/OurCollection/Crimea-mobile.jpg"
                alt="Crimea" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Women's blouse Crimea</h3>
                <p class="our-collection-price">4000 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/OurCollection/Verkhovina-wide-desktop.jpg 400w,
                ./img/OurCollection/Verkhovina-wide-desktop@2x.jpg 800w,
                ./img/OurCollection/Verkhovina-desktop.jpg 347w,
                ./img/OurCollection/Verkhovina-desktop@2x.jpg 694w,
                ./img/OurCollection/Verkhovina-tablet.jpg 342w,
                ./img/OurCollection/Verkhovina-tablet@2x.jpg 684w,
                ./img/OurCollection/Verkhovina-mobile.jpg 335w,
                ./img/OurCollection/Verkhovina-mobile@2x.jpg 370w
                "
                sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 375px) 335px, (min-width: 320px) 280px, (max-width: 374px) 280px" 

                src="./img/OurCollection/Verkhovina-mobile.jpg"
                alt="Verkhovina" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Men's shirt Verkhovina</h3>
                <p class="our-collection-price">3100 UAH</p>
            </div>

            </li>

        </ul>
    </div>
</section>
