
<section class="our-collection-box">
    <div class="container">
        <h2 class="our-collection-title">Our collection</h2>
        
        <ul class="our-collection-paragraph">

            <li class="our-collection-photo">
                <img 
                srcset="./img/AUGUST-wide-desktop.jpg 400w,
                ./img/AUGUST-wide-desktop@2x.jpg 800w,
                ./img/AUGUST-desktop.jpg 347w,
                ./img/AUGUST-desktop@2x.jpg 694w,
                ./img/AUGUST-tablet.jpg 342w,
                ./img/AUGUST-tablet@2x.jpg 684w,
                ./img/AUGUST-mobile.jpg 335w,
                ./img/AUGUST-mobile@2x.jpg 670w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 

                src="./img/AUGUST-mobile.jpg"
                alt="August"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">AUGUST Poltava women's blouseRING</h3>
                <p class="our-collection-price">3300 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/Gorgany-wibe-desktop.jpg 400w,
                ./img/Gorgany-wibe-desktop@2x.jpg 800w,
                ./img/Gorgany-desktop.jpg 347w,
                ./img/Gorgany-desktop@2x.jpg 694w,
                ./img/Gorgany-tablet.jpg 342w,
                ./img/Gorgany-tablet@2x.jpg 684w,
                ./img/Gorgany-mobile.jpg 335w,
                ./img/Gorgany-mobile@2x.jpg 670w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 
                
                src="./img/Gorgany-mobile.jpg"
                alt="Gorgany"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Women's blouse Gorgany</h3>
                <p class="our-collection-price">3350 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="../img/Mountain-wibe-desktop@2x.jpg 400w,
                ./img/Mountain-wibe-desktop@2x.jpg 800w,
                ./img/Mountain-desktop.jpg 347w,
                ./img/Mountain-desktop@2x.jpg 694w,
                ./img/Mountain-tablet.jpg 342w,
                ./img/Mountain-tablet@2x.jpg 684w,
                ./img/Mountain-mobile.jpg 335w,
                ./img/Mountain-mobile@2x.jpg 670w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 
                
                src="./img/Mountain-mobile.jpg"
                alt="Mountain"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Mountain men's shirt</h3>
                <p class="our-collection-price">3300 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/Yasen-wibe-desktop.jpg 400w,
                ./img/Yasen-wibe-desktop@2x.jpg 800w,
                ./img/Yasen-desktop.jpg 347w,
                ./img/Yasen-desktop@2x.jpg 694w,
                ./img/Yasen-tablet.jpg 342w,
                ./img/Yasen-tablet@2x.jpg 684w,
                ./img/Yasen-mobile.jpg 335w,
                ./img/Yasen-mobile@2x.jpg 670w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 
                
                src="./img/Yasen-mobile.jpg"
                alt="Yasen"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Men's shirt Yasen</h3>
                <p class="our-collection-price">1700 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/Crimea-wide-desktop.jpg 400w,
                ./img/Crimea-wide-desktop@2x.jpg 800w,
                ./img/Crimea-desktop.jpg 347w,
                ./img/Crimea-desktop@2x.jpg 694w,
                ./img/Crimea-tablet.jpg 342w,
                ./img/Crimea-tablet@2x.jpg 684w,
                ./img/Crimea-mobile.jpg 335w,
                ./img/Crimea-mobile@2x.jpg 370w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 
                
                src="./img/Crimea-mobile.jpg"
                alt="Crimea"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Women's blouse Crimea</h3>
                <p class="our-collection-price">4000 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img 
                srcset="./img/Verkhovina-wide-destop.jpg 400w,
                ./img/Verkhovina-wide-destop@2x.jpg 800w,
                ./img/Verkhovina-destop.jpg 347w,
                ./img/Verkhovina-wide-destop@2x.jpg 694w,
                ./img/Verkhovina-tablet.jpg 342w,
                ./img/Verkhovina-tablet@2x.jpg 684w,
                ./img/Verkhovina-mobile.jpg 335w,
                ./img/Verkhovina-mobile@2x.jpg 370w
                "
                sizes="(min-width: 320px) 335px, (max-width: 375px) 335px, (min-width: 768px) 342px, (min-width: 1280px) 347px, (min-width: 1440px) 400px" 
                
                src="./img/Verkhovina-mobile.jpg"
                alt="Verkhovina"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">Men's shirt Verkhovina</h3>
                <p class="our-collection-price">3100 UAH</p>
            </div>

            </li>

        </ul>

    </div>


</section>