
<section class="our-collection-box">
    <div class="container">
        <h2 class="our-collection-title">Our collection</h2>
        <ul class="our-collection-paragraph">
            <li class="our-collection-photo">
                <img src="./img/AUGUST-mobile.jpg"
                alt="August"
                width="335" />

            <div class="our-collection-text">
                <h3 class="our-collection-product">AUGUST Poltava women's blouseRING</h3>
                <p class="our-collection-price">3300 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img src="./img/Gorgany-mobile.jpg"
                alt="Gorgany"
                width="335" />

            <div class="our-collection-text">
                <h3>Women's blouse Gorgany</h3>
                <p>3350 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img src="./img/Mountain-mobile.jpg"
                alt="Mountain"
                width="335" />

            <div class="our-collection-text">
                <h3>Mountain men's shirt</h3>
                <p>3300 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img src="./img/Yasen-mobile.jpg"
                alt="Yasen"
                width="335" />

            <div class="our-collection-text">
                <h3>Men's shirt Yasen</h3>
                <p>1700 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img src="../img/Crimea-mobile.jpg"
                alt="Crimea"
                width="335" />

            <div class="our-collection-text">
                <h3>Women's blouse Crimea</h3>
                <p>4000 UAH</p>
            </div>

            </li>

            <li class="our-collection-photo">
                <img src="../img/Verkhovina-mobile.jpg"
                alt="Verkhovina"
                width="335" />

            <div class="our-collection-text">
                <h3>Men's shirt Verkhovina</h3>
                <p>3100 UAH</p>
            </div>

            </li>

        </ul>

    </div>


</section>