<section  id="customer-order">

    <div class="bagckround-image"></div>
    
    <div class="section-your-order bg-img">
    
    <div class="your-order">
        <p class="your-order-text"><span class="span">Your order</span> is our priority: Personalized approach and quality of service</p>
    </div>
    
    <div class="form-div">
        <form name="your-order-form">
            <div class="label-and-input-div">
    
            <!-- <label class="label" for="name"></label> -->
            <input class="input" type="text" name="full-name" id="name" placeholder="Enter your full name" required>
    
            <!-- <label class="label" for="email"></label> -->
            <input class="input" type="email" name="email" id="email" placeholder="Enter your email" required>
    
            <!-- <label class="label" for="comment"></label> -->
            <textarea class="textarea" name="comment" id="comment" placeholder="Comments"></textarea>
            </div>
                
            <button class="submit-button" type="submit">Send
                <svg class="submit-button-icon" width="26" height="10">
                    <use href="./img/your-order/icon.svg#icon-submit-button"></use>
                </svg>
            </button>
        </form>
    </div>
    <!-- <div class="bg-img"></div> -->
    
        <div class="your-order-img-div">
            <img class="your-order-img" 
            srcset="
            ./img/your-order/tablet-shirt.jpg 638w,
            ./img/your-order/tablet-shirt@2x.jpg 1276w,
            ./img/your-order/desktop-shirt.jpg 524w,
            ./img/your-order/desktop-shirt@2x.jpg 1048w"
            sizes="(min-widt: 1280px) 524px, (min-widt: 768px) 638px"
            src="./img/your-order/tablet-shirt.jpg" 
            alt="shirt">
        </div>
    </div>
    
    </section>
    


<div class="bagckround-image"></div>

<div class="section-your-order">

<div class="your-order">
    <p class="your-order-text"><span class="span">Your order</span> is our priority: Personalized approach and quality of service</p>
</div>

<div class="form-div">
    <form name="your-order-form">
        <div class="label-and-input-div">
        <label class="label" for="name"></label>
        <input class="input" type="text" name="full-name" id="name" placeholder="Enter your full name" required>

        <label class="label" for="email"></label>
        <input class="input" type="email" name="email" id="email" placeholder="Enter your email" required>

        <label class="label" for="comment"></label>
        <textarea class="textarea" name="comment" id="comment" placeholder="Comments"></textarea>
        </div>
            
        <button class="submit-button" type="submit">Send
            <svg class="submit-button-icon" width="26" height="10">
                <use href="./img/your-order/icon.svg#icon-submit-button"></use>
            </svg>
        </button>
    </form>
</div>

    <div class="your-order-img-div">
        <img class="your-order-img" 
        srcset="
        ./img/your-order/tablet-shirt.jpg 638w,
        ./img/your-order/tablet-shirt@2x.jpg 1276w,
        ./img/your-order/desktop-shirt.jpg 524w,
        ./img/your-order/desktop-shirt@2x.jpg 1048w"
        src="./img/your-order/tablet-shirt.jpg" 
        sizes="(min-widt: 1280px) 524px, (min-widt: 768px) 638px"
        alt="shirt">
    </div>
</div>

<div class="bg-img"></div>