:root {
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
}

body {
  font-family: 'Manrope', sans-serif;
  background: var(--black);
}

.container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;

}

@media screen and (min-width: 320px) {
  .container {

  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 99px;
    padding-right: 99px;
  }
}
