.section-hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 375px;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title1 {
  color: #FCF9F9;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  
}

.titlell {
  color: #ECD979;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}